@import 'tailwindcss';

@theme {
    --color-primary: #00C7A8;
    --color-secondary: #CFF2EC;
    --color-dark: #2C2C2C;
    --color-gray-main: #595959;
    --color-white-main: #FAFAFA;
    --color-green-light: #E3F7F3;

    --font-inter: 'Inter';
}