@import 'tailwindcss';

@theme {
    --color-primary: #00C7A8;
    --color-secondary: #CFF2EC;
    --color-dark: #2C2C2C;
    --color-gray-main: #595959;
    --color-white-main: #FAFAFA;
}

@layer components {
    /* Navigation */
    .navbar {
        @apply max-w-6xl mx-auto flex justify-between items-center p-5 text-sm text-gray-main mb-0 md:mb-20
    }

    .navbar-logo {
        @apply flex items-center gap-12;
    }

    .navbar-links {
        @apply hidden md:flex gap-8;
    }

    .navbar-language {
        @apply flex items-center gap-3 border-l-1 border-[#595959cb] pl-3
    }

    /* Button */
    .button {
        @apply py-3 px-10 bg-dark text-white rounded-full inline-block w-full text-center md:w-fit text-sm
    }

    .button-outlined {
        @apply py-3 px-7 border-2 border-primary text-primary rounded-full inline-block w-fit text-sm
    }

    .button-sm {
        @apply py-2 px-5 bg-dark text-white rounded-full inline-block w-full text-center md:w-fit text-sm mt-2.5
    }

    .button-primary {
        @apply py-1 px-3 md:py-2 md:px-4 w-fit bg-[linear-gradient(274deg,_#00C7A8_0%,_#88E6B6_100%)] text-white rounded-full flex items-center gap-4
    }

    
    /* Section */
    .section-max-w-6xl {
        @apply max-w-6xl mx-auto mb-16 md:mb-20 p-5
    }

    .section-max-w-7xl {
        @apply max-w-7xl mx-auto mb-16 md:mb-20
    }

    .section-main-title {
        @apply text-4xl md:text-6xl font-medium whitespace-nowrap mb-4 md:mb-8 text-dark
    }

    .section-title {
        @apply text-2xl md:text-3xl font-semibold mb-4 md:mb-8 text-dark
    }

    .section-content {
        @apply text-base leading-relaxed mb-10 text-dark
    }

    /* Stats */
    .stats-image {
        @apply h-20 mb-3
    }

    .stats-title {
        @apply text-3xl md:text-4xl font-semibold text-dark mb-1.5
    }

    .stats-description {
        @apply text-xs uppercase text-dark
    }

    /* Grids */
    .grid-2-column {
        @apply grid grid-cols-1 gap-16 md:grid-cols-2
    }

    .grid-3-column {
        @apply grid grid-cols-1 gap-16 md:grid-cols-3
    }

    .grid-4-column {
        @apply grid grid-cols-2 gap-12 md:grid-cols-4
    }

    /* Footer */
    .footer {
        @apply w-full text-base
    }
}